@page "/"
@using WO.Hub.Contract
@inject HttpClient http

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<button class="accordion-button" @onclick=handleButtonClick>Test</button>

@code {
    private async Task handleButtonClick() {
        var request = new ApplyRequest
        {
            Method = "test"
        };
        var response = await http.PostAsJsonAsync<ApplyRequest>("Orchestrator", request);

        if (response.IsSuccessStatusCode)
        {
            var applyResponse = await response.Content.ReadFromJsonAsync<Response>();

            Console.WriteLine(applyResponse.Status.ToString());
        }
    }
}